form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
form div + div {
    margin-top: 1em;
}


#botao {
   
    margin-top: .5em;
    margin-left: 130px;
    
}